body{
    margin:0;
    font-family:Arial;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:15px;
    background:#222;
    color:white;
}

nav a{
    color:white;
    margin-left:15px;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:linear-gradient(to right,#4facfe,#00f2fe);
    color:white;
}

.container{
    padding:20px;
}

button{
    padding:10px;
    border:none;
    background:#333;
    color:white;
}

.carousel{
    text-align:center;
}

.carousel img{
    width:90%;
    max-width:600px;
}

/* Modal */

.modal{
    display:none;
    position:fixed;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
}

.modal-content{
    background:white;
    width:90%;
    max-width:400px;
    margin:10% auto;
    padding:20px;
}

.close{
    float:right;
    cursor:pointer;
}

/* Responsive */

@media(min-width:768px){
    .hero{
        padding:120px;
    }
}